body {
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 5.625rem;
  color: #DAB88B;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #DAB88B;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #B7CADB;
}

a {
  color: #DAB88B;
  font-family: 'Noto Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #F3E9DD;
}

hr {
  border-width: 15px;
  border-color: #F3E9DD;
  border-style: none;
  border-top-style: dotted;
  width: 15%;
  margin-top: 5%;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #FDF6EC;
  padding: 50px;
}

.middle-container {
  position: relative;
  margin: 100px 0 100px 0;
}

.bottom-container {
  background-color: #FDF6EC;
  position: relative;
  margin: auto;
  padding: 50px 0 20px;
}

.intro {
  width: 90%;
  margin: auto;
}

.pro {
  color: #B7CADB;
  text-decoration: underline;
}

.top-cloud {
  display: none; /* Hide clouds on smaller screens */
}

.bottom-cloud {
  display: none; /* Hide clouds on smaller screens */
}

.skill-row {
  width: 90%;
  margin: 50px auto;
  text-align: left;
}

.jenpic {
  width: 100%; 
  max-width: 150px; /* Set maximum width for responsiveness */
  padding-top: 20px;
}

.img-computer,
.img-books {
  width: 10%;
  max-width: 150px; 
  margin: 20px auto; /* Center the images */
  display: block; /* Ensure images are centered */
}

.contact-message {
  width: 90%;
  margin: 40px auto 60px;
  word-wrap: break-word;
}

.copyright {
  color: #DAB88B;
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
  background: #B7CADB;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s; 
}

.btn:hover {
  background: #DAB88B;
  text-decoration: none;
}