body {
  margin: 0;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  color: #40514E;
}

h1 {
  margin: 5% auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  color: #DAB88B;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #DAB88B;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #B7CADB;
}

a {
  color: #DAB88B;
  font-family: 'Noto Sans', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #F3E9DD;
}

hr {
  border-width: 5px;
  border-color: #F3E9DD;
  border-style: none;
  border-top-style: dotted;
  width: 50%;
  margin-top: 5%;
}

p {
  line-height: 1.5;
  margin: 0 auto;
  padding: 0 5%;
}

.top-container,
.bottom-container {
  background-color: #FDF6EC;
  padding: 5%;
}

.middle-container {
  margin: 10% 5%;
}

.intro {
  width: 80%;
  margin: 5% auto;
}

.skill-row {
  width: 90%;
  margin: 10% auto;
}

.jenpic {
  width: 20%;
  padding-top: 10%;
}

.img-computer,
.img-books {
  width: 40%;
  margin: 0 auto;
}

.contact-message {
  width: 90%;
  margin: 5% auto;
}

.copyright {
  color: #DAB88B;
  font-size: 0.75rem;
  padding: 5% 0;
}

.btn {
  background: #B7CADB;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 1rem;
  padding: 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #DAB88B;
  text-decoration: none;
}

div[style*="display:none"] {
  display: block !important;
  position: absolute;
  left: -9999px;
  top: -9999px;
}